#my-modal.bg-modal {
    background-color: rgba(0,0,0,0.2);
}

#my-modal.display-block{
    display: block;
    padding-top: 25vh;
}

.playlist-container
{
    margin: 5px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    color: darkseagreen;
    font-weight: 500;
}

.btn-create-playlist{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
}

.modal-content .float-container{
    margin: 10px;
}

