.video-card-container{
    width: 30rem;
    height: 22rem;
}

.video-card-img {
    object-fit: cover;
    /* height: 60%; */
    width: 100%;
    /* padding: 1.5rem; */
    max-height: 15rem;
    min-height: 15rem;
    padding: 0;
}

.video-card-container:hover{
    background-color: lightslategrey;
    transform: scale(1.10, 1.25);
    transition: all .2s ease-in-out;
    z-index:1;
}

.btn-watch-later{  
    margin: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}