.video-card-container{
    width: 24rem;
    height: 22rem;
}

.video-card-img {
    object-fit: fill;
    /* height: 60%; */
    width: 100%;
    /* padding: 1.5rem; */
    max-height: 15rem;
    min-height: 15rem;
    padding: 0;
}

.video-card-container:hover{
    background-color: lightslategrey;
    /* transform: scale(0.75, 0.75); */
    transition: all .2s ease-in-out;
    z-index:1;
}

.btn-watch-later{  
    margin: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card-btn-dismiss{
    box-shadow: none;
}

.action-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    width:100%;
}

.action-container .btn{
    margin: 0;
}